<h2>Layouts</h2>
<div class="container_horizontal_column">
    <table>
        <tr>
            <th>Name</th>
            <th>Number of Cards</th>
            <th>View</th>
        </tr>
        {{#each layouts}}
        <tr>
            <td>{{name}}</td>
            <td>{{num_of_cards}}</td>
            <td><a href="/users/{{../user._id}}/layouts/{{id}}">see details</a></td>
        </tr>
        {{/each}}
    </table>
        <a href="/users/{{user._id}}/layouts/new"> <button class="small_button">add new layout</button></a>

</div>