<h2>{{user.name}}</h2>
<div class="container_center">
    <table>
        <tr>
            <th>Date</th>
            <th>Query</th>
            <th>See Reading</th>
        </tr>

        {{#each readings}}
        <tr>
            <td>{{date}}</td>
            <td>{{query_nickname}}
            </td>
            <td>
                <a href="/users/{{../user.id}}/readings/{{id}}">see reading</a>
            </td>
        </tr>
        {{/each}}
    </table>
</div>
<div class="container_horizontal_column">
    <a href="/users/{{user.id}}/readings/new"> <button class="small_button">get reading</button></a>

<a href="/users/{{user._id}}">
    <button class="button small_button">back to {{user.name}}</button>
</a>
</div></div>