<div class="body">
    <div class="container_horizontal_column">
        <h4>{{reading.date}}</h4>
        <h4>question: {{reading.question}}</h4>
    </div>

    <div class="container_center">
        {{#each reading.cards_index}}
        <li id="past_val_card{{@index}}" value="{{this}}"><img id="card{{@index}}img_past" src="/images/blank.jpg" alt="a blank card"></li>
        {{/each}}
    </div>

    <div class="container_column_left">
        {{#each reading.cards_index}}
        <p id="past_description_card{{@index}}"></p>

        {{/each}}

    </div>
</div>